body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange_color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.Dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.yvideo {
    font-size: 50px;
    color: orange;
    text-align: center;
    font-weight: 700;
    width: 50%;
}

.copyright {
    color: white;
    text-align: center;
    background-color: orange;
    padding: 15px;
}

.video {
    display: flex;
}

.mail {
    text-decoration: none;
    color: white;
}